{% extends 'base.html.twig' %}

{% block title %}Recherche de dispositif d'aide{% endblock %}

{% block body %}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}
        <a href="{{ path('search_index') }}">REVENIR À L'ÉTAPE 1/2</a>
        <button class="fr-btn" type="submit">
            CONSULTER LES RÉSULTATS
        </button>
    {{ form_end(form) }}
{% endblock %}
