@import '../colors';

.card-aid-list {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
}

.card-aid {
    display: grid;
    grid-template-rows: auto 136px 56px;
    border: 0.5px solid $white-mystic;

    .card-aid-main {
        padding: 2rem 2.5rem;
        background-color: $white;
    }

    .card-aid-details {
        background-color: $white-alabaster;
        border-top: 0.5px solid $white-mystic;
    }

    .card-aid-cta {
        display: block;
        width: 100%;
    }

    button {
        border-radius: 0;
    }
}

.card-focus {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1rem;
    padding: 2.5rem;
    background: $blue-gradient-background;

    img {
        align-self: center;
    }

    .content {
        align-self: flex-start;
    }
}
