@import '../colors';
@import '../components/icons';

.card-aid-list {
    margin: 0 auto;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr;
}

.card-aid {
    display: grid;
    grid-template-rows: auto 0 56px;
    border: 0.5px solid $white-mystic;

    .card-aid-main {
        padding: 2rem 2.5rem;
        background-color: $white;
    }

    .card-aid-details {
        background-color: $white-alabaster;
        border-top: 0.5px solid $white-mystic;
    }

    .card-aid-cta {
        display: block;
        width: 100%;
    }

    button {
        border-radius: 0;
    }
}

.card-focus {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1rem;
    padding: 2.5rem;
    background: $blue-gradient-background;

    img {
        align-self: center;
    }

    .content {
        align-self: flex-start;
    }
}

.card-step {
    display: grid;
    grid-template-columns: 125px 1fr auto;
    min-height: 135px;
    background: linear-gradient(108deg, $orange 125px, #181b40 0%);
    border-radius: 40px;

    @at-root #{&}__number {
        color: $white-lilac;
        font-size: 56px;
        margin-left: 40px;
        align-self: center;
    }

    @at-root #{&}__content {
        margin: 24px 30px;
        p,h2,h3 {
            color: $white-lilac;
        }
        h3 {
            font-weight: 500;
        }
    }

    @at-root #{&}__cta {
        align-self: center;
        justify-self: center;
        margin: 40px 60px;
    }
}

.card-package {
    display: grid;
    grid-template-rows: auto 49px;
    width: 275px;
    min-height: 357px;
    background: $white;
    border: 2px solid $blue-royal;
    box-sizing: border-box;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    justify-items: center;

    @at-root #{&}__content {
        padding: 14px;
        text-align: center;
        h3 {
            padding: 0 0 5px 0;
            margin-bottom: 0;
            text-align: center;
            color: $blue-royal;
        }
    }

    @at-root #{&}__content__funder {
        margin-bottom: 15px;
        span {
            padding: 0 5px;
        }
    }

    @at-root #{&}__content__tag {
        margin-bottom: 15px;
    }

    @at-root #{&}__content__detail {
        display: grid;
        margin: 10px 0;
        grid-template-columns: repeat( auto-fit, minmax(60px, 1fr));
        justify-content: center;

        p {
            line-height: 14px;
            font-size: 12px;
        }
    }

    @at-root #{&}__cta {
        padding: 0;
        width: 100%;
        border-radius: 0;
        text-align: center;
        background-color: $blue-royal;
        align-content: center;
        height: 100%;
        display: flex;
        justify-content: center;
    }
}

@media only screen and (min-width: 768px) {
    .card-aid-list {
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: repeat(3, 1fr);
    }
}
