@import '../colors';

.mt-icon {
    height: 14px;
    width: 14px;
    display: block;
    background-color: $grey-river-bed;

    @at-root #{&}--building {
        -webkit-mask-image: url('/build/icons/building.svg');
        mask-image: url('/build/icons/building.svg');
    }

    @at-root #{&}--tag {
        -webkit-mask-image: url('/build/icons/tag.svg');
        mask-image: url('/build/icons/tag.svg');
    }

    @at-root #{&}--euro {
        -webkit-mask-image: url('/build/icons/euro.svg');
        mask-image: url('/build/icons/euro.svg');
    }

    @at-root #{&}--finger-up {
        -webkit-mask-image: url('/build/icons/finger_up.svg');
        mask-image: url('/build/icons/finger_up.svg');
    }

    @at-root #{&}--time {
        -webkit-mask-image: url('/build/icons/time.svg');
        mask-image: url('/build/icons/time.svg');
    }

    @at-root #{&}--color-white {
        background-color: $white;
    }
}

.mt-icon-circled {
    display: block;
    background: $white;
    width: min-content;
    padding: 8px;
    border: 1px solid $white-mystic;
    border-radius: 40px;

    @at-root #{&}--orange-bg {
        border: none;
        background: $orange-bold-light;
    }

    @at-root #{&}--blue-bg {
        border: none;
        background: $blue-navy;
    }

    @at-root #{&}--inline {
        display: inline-flex;
    }

    @at-root #{&}--margin-auto {
        margin: auto;
    }
}
