.number-highlighted {
	display: grid;
	grid-template-rows: auto auto;

	@at-root #{&}__left {
		//max-width: 800px;
	}

	@at-root #{&}__right {
	}
}

@media only screen and (min-width: 768px) {
	.number-highlighted {
		grid-template-columns: auto 45vh;
		align-items: center;

		@at-root #{&}__left {
			//max-width: 800px;
		}

		@at-root #{&}__right {
		}
	}
}
