@import '../colors';

.tag {
    display: block;
    padding: 8px 16px;
    margin-bottom: 0.5rem;
    border: 1px solid rgba(0, 0, 145, 0.1);
    border-radius: 100px;
    background-color: $white;
    text-align: center;
    color: $blue-navy;
    font-size: 12px;
    width: max-content;

    &.selected,
    &:hover {
        background-color: $blue-navy;
        color: $white;
    }
    &:hover {
        cursor: pointer;
    }
}

.mt-tag {
    padding: 8px 16px;
    border: 1px solid #d5dbef;
    border-radius: 6px;

    @at-root #{&}--warning {
        border: 1px solid $orange-bold-dark;
        color: $orange-bold-dark;
    }
}

.mt-filter {
    padding: 8px 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: transparent;
    box-sizing: border-box;
    border-radius: 20px;
    color: $white;
    font-size: 18px;
    line-height: 21px;
}
