$blue-navy: #000091;
$blue-france: #C7C7FA;
$blue-cobalt: #024cbb;
$blue-royal: #5d5fef;
$blue-ecume: #DEE5FD;
$blue-ecume-975: #F4F6FE;
$blue-default-france: #6A6AF4;
$blue-france-700: #00006D;
$blue-gradient-background: linear-gradient(238.24deg, #181b40 42.25%, #252a6b 106.2%);
$green-menthe: #49BC8D;
$orange: #FFA07D;
$orange-bold-light: #d14904;
$orange-bold-dark: #ed7c52;
$grey-river-bed: #444b59;
$grey-athens: #f3f5f7;
$white: #ffffff;
$white-lilac: #f6f8fc;
$white-mystic: #dde5ea;
$white-alabaster: #fbfbfb;
$beige: #f9f8f6;
$grey-magnolia: #f5f5fe;

.bg-light {
    background-color: $white-lilac;

    > .highlighted {
        color: $orange-bold-light;
    }
}

.bg-lighter {
    background-color: $white-alabaster;

    > .highlighted {
        color: $orange-bold-light;
    }
}

.bg-dark {
    background: $blue-gradient-background;

    > .highlighted {
        color: $orange-bold-dark;
    }
}

.bg-beige {
    background-color: $beige;
}

.bg-grey-magnolia {
    background-color: $grey-magnolia;
}

.bg-blue-royal {
    background: $blue-royal;
}

.bg-blue-default-france {
    background: $blue-default-france;
}

.bg-blue-ecume {
    background: $blue-ecume;
}

.bg-blue-france-700 {
    background: $blue-france-700;
}

.bg-green-menthe {
    background: $green-menthe;
}

.bg-blue-ecume-975 {
    background: $blue-ecume-975;
}

.bg-blue-navy {
    background: $blue-navy;
}

.color-navy {
    color: $blue-navy;
}

.color-white {
    color: $white;
}

.color-grey-river {
    color: $grey-river-bed;
}
