$blue-navy: #000091;
$blue-france: #C7C7FA;
$blue-cobalt: #024cbb;
$blue-royal: #5d5fef;
$blue-gradient-background: linear-gradient(238.24deg, #181b40 42.25%, #252a6b 106.2%);
$orange: #FFA07D;
$orange-bold-light: #d14904;
$orange-bold-dark: #ed7c52;
$grey-river-bed: #444b59;
$grey-athens: #f3f5f7;
$white: #ffffff;
$white-lilac: #f6f8fc;
$white-mystic: #dde5ea;
$white-alabaster: #fbfbfb;

.bg-light {
    background-color: $white-lilac;

    > .highlighted {
        color: $orange-bold-light;
    }
}

.bg-lighter {
    background-color: $white-alabaster;

    > .highlighted {
        color: $orange-bold-light;
    }
}

.bg-dark {
    background: $blue-gradient-background;

    > .highlighted {
        color: $orange-bold-dark;
    }
}

.bg-blue-royal {
    background: $blue-royal;
}

.color-navy {
    color: $blue-navy;
}
