$blue-navy: #000091;
$blue-cobalt: #024cbb;
$blue-gradient-background: linear-gradient(238.24deg, #181b40 42.25%, #252a6b 106.2%);
$orange-vivid: #ffa07d;
$orange-apricot: #f1906d;
$grey-river-bed: #444b59;
