@import 'colors';

$main-font: Marianne, sans-serif;

h1,
h2,
h3,
h4,
p {
    font-family: $main-font;
}

h2 {
    &.small {
        font-size: 24px;
        line-height: 120%;
        letter-spacing: -0.03em;
        font-style: normal;
        font-weight: normal;
    }
}

p {
    margin: 0;

    &.small {
        font-size: 12px;
        letter-spacing: -0.02em;
    }

    &.big {
        font-size: 18px;
        line-height: 150%;
    }
}

.subtitle {
    font-family: $main-font;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0.03em;
}

.highlighted {
    color: $orange-bold-light;
}

.highlighted--dark {
    color: $grey-river-bed;
    font-family: $main-font;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 140%;
}

.slight-highlight {
    width: auto;
    background-color: rgba(165, 166, 246, 0.4);
    color: #444B59;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
}

.slight-highlight--multiple {
    display: inline-block;
    line-height: 13px;
}

.on-dark {
    color: $white;
}

.key-figure {
    font-style: normal;
    font-weight: bold;
    font-size: 140px;
    line-height: 120%;
    letter-spacing: -0.03em;
}

@media only screen and (min-width: 768px) {

    h2 {
        &.small {
            font-weight: 300;
            font-size: 32px;
            letter-spacing: -0.02em;
        }
    }
}
