@import 'colors';
@import 'typo';
@import 'dsplus';

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

//hr {
//    border: 0;
//    border-bottom: 1px solid #cecece;
//
//    &.on-dark {
//        border: 0;
//        border-top: 1px solid rgba(255, 255, 255, 0.23);
//    }
//}

div.wrapper {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

.mt-sm-logo {
    max-width: 96px;
}

.mt-ma {
    margin: auto;
}

.mt-w100 {
    width: 100%;
}

.mt-text-align-center {
    text-align: center;
}

.mandatory {
    color: red;
}

.beta {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    background-color: $orange;
    color: $blue-navy;
}

@media only screen and (min-width: 768px) {
    .on-mobile-only {
        display: none !important;
    }
}
