@import '_colors';
@import '_typo';
@import 'components/cards';

.homepage-background {
    background: $white-lilac;
}

.homepage-intro {
    display: grid;
    grid-template-columns: auto min-content;
    grid-row-gap: 2rem;
    padding-top: 2vh;
    align-items: center;
}

.homepage-content {
    display: grid;
    justify-content: center;
}

.main-title {
    .title {
        color: $blue-navy;
    }

    .introduction {
        max-width: 454px;
    }
}
.illustration {
    max-width: 33vw;
    justify-self: center;
}

.main-cta {
    width: 100%;
    margin: auto;
    background-color: $white;
    padding: 2rem;
    justify-self: center;
    grid-column: 1/3;
    filter: drop-shadow(0px 9px 11px rgba(2, 76, 187, 0.1));

    .content {
        max-width: 816px;
        text-align: center;
        margin: auto;
    }

    h2 {
        color: $blue-navy;
    }
}

.cta-cards {
    margin: auto;
}

#tag-filter-content {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(275px, 1fr));

    > div {
        margin-bottom: 32px;
    }
}
