@import '_colors';
@import '_typo';
@import 'components/cards';

.homepage-background {
    background: url("../img/homepage_illu.svg") no-repeat center, #E8EDFF;
}

.homepage-intro {
    display: grid;
    grid-template-rows: auto auto;
    padding-top: 2vh;
    align-items: center;
    justify-content: center;
    max-width: 932px;

    h1 {
        color: $blue-navy;
        span {
            color: $green-menthe;
        }
    }
}

.homepage-content {
    display: grid;
    justify-content: center;
}

.main-title {
    h2,h5 {
        color: $blue-navy;
    }
}

.funders {

    .fr-grid-row {
        justify-content: center;
    }

    span {
        font-weight: bold;
    }

    .funders_logo_1 {
        display: grid;
        grid-template-columns: repeat(6, auto);
        width: 100%;
        overflow-x:scroll;
        white-space:nowrap;

        img {
            display:inline-block;
        }
    }
    .funders_logo_2 {
        display: grid;
        grid-template-columns: repeat(7, auto);
        width: 100%;
        overflow-x:scroll;
        white-space:nowrap;

        img {
            display:inline-block;
        }
    }
}

.search-engine-extension {
    background-color: $white;

    .selected {
        box-shadow: inset 0 0 0 1px var(--border-default-grey),inset 0 -.25rem 0 0 var(--border-plain-blue-france);
    }
}

.main-cta {
    .main-cta_content {
        display: grid;
        grid-gap: 1.5rem;
        margin: auto;
        justify-content: center;
    }
}

@media only screen and (max-width: 768px) {
    .category-choices {
        display: flex;
        overflow-x: scroll;
        flex-flow: row;

        > div {
            display:inline-block;
            min-width: 230px;
            margin-left: 1rem;
            margin-bottom: 1.5rem;
        }
    }
}

@media only screen and (min-width: 768px) {
    .funders_logo_1 {
        justify-content: space-evenly;
    }

    .funders_logo_2 {
        justify-content: space-evenly;
    }

    .main-cta_content {
        grid-template-columns: repeat(2, minmax(200px, 372px));
    }

    .category-choices {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(230px, 250px));
        grid-gap: 1.5rem;
        justify-content: center;
    }
}
