@import '_colors';

.homepage-background {
    background: $blue-gradient-background;
}

.homepage {
    display: grid;
    height: 70vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-top: 160px;
    align-items: center;
    justify-items: center;
}

.main-title {
    max-width: 455px;
}

.main-cta {
    grid-column: 1/3;
    max-width: 816px;
    text-align: center;
}

.cta-cards {
    margin: auto;
}
