@import '_colors';
@import '_typo';
@import 'components/cards';
@import 'components/icons';
@import 'components/tags';

.cta-search {
    position: relative;
    top: 1rem;
}

.card-aid-main {
    .funder {
        margin-top: 2rem;
    }

    .aid-type, .aid-dates, .funder, .aid-regions {
        display: flex;
        align-items: center;
        justify-content: center;

        .subtitle {
            margin-right: auto;
            padding: 10px;
        }
    }
}

.more-results {
    text-align: center;
    padding-bottom: 6rem;
}

.no-results {
    text-align: center;

    .text {
        margin: auto;
        max-width: 400px;
    }
}

.environmental-action-error {
    color: $orange-bold-dark;
}
