@import '_colors';
@import '_typo';
@import 'components/cards';
@import "components/icons";

.cta-search {
    position: relative;
    top: 1rem;
}

.card-aid-details {
    display: grid;
    grid-template-areas:
        'type funder'
        'date date';
    grid-gap: 2px;
    padding: 20px 20px;
    grid-template-columns: 1fr 1fr;
    align-content: space-evenly;
    justify-items: center;

    .aid-type {
        .icon {
            background-color: $blue-royal;
            padding: 8px;
            border-radius: 40px;
            margin: auto;
            width: min-content;

            > img {
                display: block;
                margin: auto;
            }
        }
        grid-area: type;
    }

    .funding-type {
        .icon {
            border: 1px solid $white-mystic;
            padding: 8px;
            border-radius: 40px;
            margin: auto;
            width: min-content;

            > img {
                display: block;
                margin: auto;
            }
        }

        grid-area: funder;
    }

    .date {
        grid-area: date;
    }
}

.more-results {
    text-align: center;
    padding-bottom: 6rem;
}
